body {
  background: black;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

header {
  background-color: #17300c;
  background-image: url(images/trees.png), url(images/header.png);
  background-position: 19em 100%, 0 0;
  background-repeat: no-repeat, repeat;
  padding: 20px 40px; 
  border-bottom: 1px solid #324a27;
}

header h1 {
  font-family: "Abril Fatface";
  font-weight: 400;
  word-spacing: -.2em;
  text-transform: lowercase;
  color: #e1f4d8;
  font-size: 48px;
  margin: 0;
  text-shadow: 0 2px 0 black;
}

header h2 {
  margin: 0;
  color: #718866;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  padding: 0 0 0 30px;
  position: relative;
  top: -10px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

article {
  padding: 20px 0;
  background: #050e02;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 24px;
  position: relative;
}

article h1 {
  display: none;
}

article p {
  color: #c1dcb4;
  margin: 20px 40px;
  text-shadow: 0 1px 0 black;
}

article>ul {
  list-style: none;
  padding: 0 40px;
}

article>ul>li {
  margin: 0 0 20px;
}

article>ul>li>a {
  color: white !important;
  text-decoration: none;
  background: red;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  display: block;
  padding: 5px 10px;
}

article>ul>li>a:hover {
  color: white;
  text-decoration: underline;
}

.details {
  padding: 10px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  background-image: url(images/sidebar.png);
  background-position: 100% 0;
  background-repeat: repeat-y;
}

.details .meta {
  float: right;
  width: 230px;
  padding: 0 0 10px;
}

.details .meta h2 {
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.details .meta h2:before {
  content: "Use";
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #aaa;
}

.details .meta ul {
  list-style: square;
  color: #aaa;
  font-size: 16px;
  padding: 0 0 0 1em;
}

.details .meta ul a {
  color: #ccc;
}

.details h3 {
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  margin: 0 0 5px 10px;
  color: #aaa;
}

.details dl.request {
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 20px;
}

.details dl.request dt {
  display: none;
}

.details dl.request dd {
  margin: 0;
  color: #eee;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.details dl.request dd.method {
  width: 3em;
  float: left;
  text-transform: uppercase;
  color: yellow;
}

.details dl.request dd.location, .details dl.request dd.params {
  margin: 0 0 0 4em;
}

.details pre.response {
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 10px;
  max-height: 200px;
  overflow: auto;
  margin: 0;
  color: #eee;
  font-size: 15px;
}

.details h3, .details dl.request, .details pre.response {
  margin-right: 250px;
}

footer {
  height: 350px;
  background: black; url(images/footer.png) no-repeat 100% 0;
}
